[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
numpy = "*"
pandas = "*"
geopandas = "*"
dash-bootstrap-components = "*"
dash-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
